<footer class="w-full bg-orange-500 py-12 text-center border-t-4 border-orange-700">
    <p><a href="/about" class="font-bold uppercase text-sm text-white hover:text-orange-900">About</a></p>
    <p>copyright &copy; Aladdin consulting</p>
</footer>