<nav>
    <div class="class-title">
        <a href="/"><h1 class="text-orange-500">Report</h1></a>
        <p>A Report app</p>
    </div>
    <ul>
        <li><a href="/reports" class="font-bold uppercase text-sm text-orange-500 hover:text-orange-900">Report</a></li>
        <li><a href="/reports/create" class="font-bold uppercase text-sm text-orange-500 hover:text-orange-900">New Report</a></li>
    </ul>
</nav>