<nav>
    <div class="class-title">
        <a href="/"><h1 class="text-orange-500">Report</h1></a>
        <p>A Report app</p>
    </div>
    <ul>
        <li><a href="/">Report</a></li>
        <li><a href="/reports/create">New Report</a></li>
    </ul>
</nav>