<nav>
    <div class="class-title">
        <a href="/"><h1>Report</h1></a>
        <p>A Report app</p>
    </div>
    <ul>
        <li><a href="/">Report</a></li>
        <li><a href="/reports/create">New Report</a></li>
        <li><a href="/login">Login</a></li> 
    </ul>
</nav>