<nav>
    <div class="class-title">
        <a href="/"><h1>Blogs 100Devs</h1></a>
        <p>A 100Devs site</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>