<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    
    <div class="blog-content">
        <h2>About</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur sed eum quaerat a, optio molestiae quo harum voluptatibus sequi, sit officia laboriosam nam consequatur, corrupti iusto minima vitae praesentium dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis voluptatum sequi est dolores magni similique velit molestias incidunt? Cupiditate sequi iusto unde quibusdam ea libero ipsam voluptas, molestias earum consequuntur!</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>