<div class="text-center">
    <h2>About</h2>
    <p>Report App helps organizations to determine and secure personal and professional boundaries between employees. It helps deal with integrity violations and unwanted behavior. At the same time, it helps employees and employers to become more resilient in case they experience unwanted manners.</p>
</div>
