<form action="/forgotpassword" method="POST" class="max-w-2xl w-full mx-auto px-6 my-6">
  <div class="mb-6 text-center">
    <h2 class="text-lg font-bold leading-7 text-gray-900">Forgot password?</h2>
    <p class="text-sm leading-6 text-gray-600">No worries, we w'll send you the reset instructions</p>
  </div>
  <div class="mb-6">
    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
    <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter your email" required>
  </div>
  <%- include('partials/error.ejs') %>
  <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Reset password</button>
  <div class="mt-4 text-center text-gray-900 space-x-2"><svg class="w-4 h-4 inline-block" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5H1m0 0 4 4M1 5l4-4" />
    </svg> <a href="/login" class="text-sm text-gray-600">Back to login</a>
  </div>
</form>