<div class="w-full">

  <header class="bg-gradient-to-r from-orange-900 to-orange-500 w-full px-4 py-12 flex justify-center border-b-4 border-orange-500">
    <div class="w-full">
      <div class="my-4">
        <h1 class="text-xl text-white uppercase font-semibold">Accident near me!</h1>
        <p class="text-sm text-white capitalize">Report with the details, upload photos report of what has occured in real-time</p>
      </div>

      <div class="flex mt-4 mb-4">
        <div>
          <a href="/reports/create" class="bg-orange-500 font-bold text-orange-100 mt-2 px-4 py-2 rounded text-xs uppercase hover:bg-orange-700">Report a case</a>
        </div>
      </div>
    </div>
  </header>

  <div class="w-full flex flex-col justify-center items-center gap-4 mb-6">
    <h1 class="text-4xl font-bold capitalize mt-4">Topics</h1>
    <div class="w-full flex flex-col shadow justify-center items-center">
      <div class="w-16 h-16 bg-orange-500 mt-4 rounded-lg"><img src="/images/sexual-harassment.png" alt="img"></div>
      <div class="p-8 text-center">
        <p class="text-gray-800 text-2xl font-bold capitalize">sexual Harrasement</p>
        <p class="text-gray-500 mt-2">What is sexual harassment and how could you define the complexity of the grey area.</p>
      </div>
    </div>
    <div class="w-full flex flex-col shadow justify-center items-center">
      <div class="w-16 h-16 bg-orange-500 mt-4 rounded-lg"><img src="/images/fight.png" alt="img"></div>
      <div class="p-8 text-center">
        <p class="text-gray-800 text-2xl font-bold capitalize">Aggression/Violence</p>
        <p class="text-gray-500 mt-2">Learn how to deal with aggression and violence at the workplace and in other situations.</p>
      </div>
    </div>
    <div class="w-full flex flex-col shadow justify-center items-center">
      <div class="w-16 h-16 bg-orange-500 mt-4 rounded-lg"><img src="/images/discrimination.png" alt="img"></div>
      <div class="p-8 text-center">
        <p class="text-gray-800 text-2xl font-bold capitalize">Discrimination</p>
        <p class="text-gray-500 mt-2">Get a better understanding of discrimination and how you and bystanders can respond.</p>
      </div>
    </div>
    <div class="w-full flex flex-col shadow justify-center items-center">
      <div class="w-16 h-16 bg-orange-500 mt-4 rounded-lg"><img src="/images/violent-bullying.png" alt="img"></div>
      <div class="p-8 text-center">
        <p class="text-gray-800 text-2xl font-bold capitalize">Bullying</p>
        <p class="text-gray-500 mt-2">Acquire the skills to recognize bullying and understand how it influences the working atmosphere.</p>
      </div>
    </div>


    <p class="text-lg font-bold text-center text-gray-700 capitalize mt-4">Quote of the day: live life, <b class="text-orange-500">prevent escalation</b> start the conversion</p>

  </div>

</div>